/* Global Styles */
/*custom check & radio 
https://bootsnipp.com/snippets/featured/simple-css-custom-checkboxes-and-radios
*/

body {
    margin-top: 100px;
    background-color: #ececec;
    font-family: 'Roboto', sans-serif;
}

.w100{
    width: 100%;
}

.no-margin{
    margin: 0;
}

.margin-top-10{
    margin-top: 10px;
}
.margin-top-15{
    margin-top: 15px;
}
.margin-top-22{
    margin-top: 22px;    
}
.margin-top-25 {
    margin-top: 25px;
}
.margin-top-50 {
    margin-top: 50px;
}

.margin-bottom-15{
    margin-bottom: 15px;
}
.margin-bottom-20{
    margin-bottom: 20px;
}
.margin-left-10{
    margin-left: 10px;
}
.margin-left-20{
    margin-left: 20px;
}

.margin-right-10{
    margin-right: 10px !important;
}
.margin-right-15{
    margin-right: 15px !important;
}
.margin-right-20{
    margin-right: 20px !important;
}
.margin-tb-10{
    margin-top: 10px;
    margin-bottom: 10px;
}

.no-padding {
    padding: 0 !important;
}
.no-list-style {
    list-style: none;
}
.relative{
    position: relative;
}
.margin-top-20 {
    margin-top: 20px;
}
.margin-bottom-10{
    margin-bottom: 10px;
}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}

.modal-header {
    background: linear-gradient(88deg, #13b4ca, #18cabe);
    color: #fff;
}
.modal-title, .modal-header {
    font-family: 'Open Sans', sans-serif;
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    padding: 10px;
    width: 100%;
    padding: 0;
    background-color: #ececec;
    min-height: 92vh;
}
.main-body-content {
    background: #fff;
    margin: 10px;
    box-shadow: 0px 0px 9px 2px #d4d4d4;
}
.Page-heading{
    margin-top: 10px;
}
.Page-body{
    margin-bottom: 10px;
}
.huge {
    font-size: 50px;
    line-height: normal;
}

.panel{
    border-radius: 0;
}

/*custom check and radio*/
.form-check label{
    position: relative;
    cursor: pointer;
    color: #666;
    font-size: 20px;
}

.form-check input[type="checkbox"], .form-check  input[type="radio"]{
    position: absolute;
    right: 9000px;
}

/*Check box*/
.form-check input[type="checkbox"] + .label-text:before{
    content: "\f096";
    font-family: "FontAwesome";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing:antialiased;
    width: 1em;
    display: inline-block;
    margin-right: 5px;
    font-size: 20px;
}

.form-check input[type="checkbox"]:checked + .label-text:before{
    content: "\f14a";
    color: #16c1c2;
    animation: effect 250ms ease-in;
}

.form-check input[type="checkbox"]:disabled + .label-text{
    color: #aaa;
}

.form-check input[type="checkbox"]:disabled + .label-text:before{
    content: "\f0c8";
    color: #ccc;
}

/*custom radio*/
.form-check input[type="radio"] + .label-text:before{
    content: "\f10c";
    font-family: "FontAwesome";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing:antialiased;
    width: 1em;
    display: inline-block;
    margin-right: 5px;
    font-size: 20px;
}

.form-check input[type="radio"]:checked + .label-text:before{
    content: "\f192";
    color: #15bec4;
    animation: effect 250ms ease-in;
}

.form-check input[type="radio"]:disabled + .label-text{
    color: #aaa;
}

.form-check input[type="radio"]:disabled + .label-text:before{
    content: "\f111";
    color: #ccc;
}

span.label-text {
    font-size: 15px;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
    }
}
.caret {
    border-top: 6px dashed;
    border-top: 4px solid\9;
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
}
/* Top Navigation */
.navbar-inverse {
    /* background-color: #3e4b5c !important; */
    background: linear-gradient(88deg, #13b4ca, #18cabe);
    border-color: #13b4ca;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #3e4b5c;
}
.top-nav {
    padding: 0 15px;
}
.navbar-inverse .navbar-brand {
    color: #fff;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #fff;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #3e4b5c;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

/* Side Navigation */

.side-nav>li>a>i {
    width: 22px;
}

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #3e4b5c !important;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav>li>a {
        width: 225px;
        color: #fff !important;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #27313e !important;
    }
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #fff;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* Custom Colored Panels */

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #13ca85;
}

.panel-green > .panel-heading {
    border-color: #13ca85;
    color: #fff;
    background-color: #13ca85;
}

.panel-green > a {
    color: #13ca85;
}

.panel-green > a:hover {
    color: #3d8b3d;
}

.panel-primary>.panel-heading {
    color: #fff;
    background-color: #1358ca;
    border-color: #1358ca;
}

.panel-red {
    border-color: #ca1358;
}

.panel-red > .panel-heading {
    border-color: #ca1358;
    color: #fff;
    background-color: #ca1358;
}

.panel-red > a {
    color: #ca1358;
}

.panel-red > a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow > a {
    color: #f0ad4e;
}

.panel-yellow > a:hover {
    color: #df8a13;
}

/*Customize css*/
.side-nav>li>a {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 13px;
}
.page-header {
    font-size: 20px;
    margin: 10px 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
.breadcrumb {
    padding: 3px 10px;
    margin-bottom: 10px;
}
.form-control {
    height: 28px;
    border-radius: 0;
    padding: 3px;
}
label {
    margin-bottom: 2px;
}
.breadcrumb>li {
    font-size: 12px;
}
.btn {
    padding: 4px 12px;
    font-size: 13px;
    border-radius: 0;
}

/*Article view START*/
.dataTable>tbody>tr>td, .dataTable>thead>tr>th{
    padding: 5px;
    font-size: 13px;
    border-bottom: 0;
}
table.dataTable.no-footer {
    border-bottom: 1px solid #ddd;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 2px 9px;
    font-size: 11px;
}
.dataTables_wrapper .dataTables_info {
    padding-top: 0;
}
.point-plus-icon{
    padding: 1px 10px;
}
/*create category*/
.inactive-input {
    border: 0;
    background-color: transparent;
}

/*Meta info*/
textarea{
    resize: none;
    max-height: 95px; 
}
.margin-left-15{
    margin-left: 15px;
}
.tokenfield .token{
    margin: 2px 5px 2px 0;
}
.tokenfield.form-control{
    height: auto;
    min-height: 28px;
    padding: 1px;
}

/*create product*/
output#result>div,output#result01>div  {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 58px;
    position: relative;
}
output#result>div>img, output#result01>div>img{
    width: 58px;
    height: 58px;
}
a.img-close {
    position: absolute;
    top: -5px;
    right: -5px;
    color: red;
    font-weight: 900;
}
a.img-close:hover{
    text-decoration: none;
}
a.img-close i{
    font-weight: 900;
}
.front-img, .download-img {
    min-height: 150px;
    clear: both;
}
.datatable-custom-sort{
    position: absolute;
    left: 0px;
    top: 4px;
    z-index: 999;
}
.dataTables_paginate, .dataTables_info{
    margin-bottom: 10px;
}
select#category_id {
    margin-left: 10px;
}
.table{
    margin-bottom: 5px;
}
.panel-default>.panel-heading{
    font-weight: 400;
}
label {
    font-weight: 300 !important;
}

/*slide show*/
ul#gallery-item {
    padding: 0;
    margin: 20px 0;
}
ul#gallery-item li {
    list-style: none;
    border: 1px solid #dedede;
    cursor: move;
    padding: 10px;
    margin: 10px 0;
    position: relative;
}
.img-slider-action {
    position: absolute;
    right: 10px;
    top: 10px;
}
ul#gallery-item li > img {
    width: 100%;
    max-height: 235px;
}
.img-slider-title {
    position: absolute;
    bottom: 10px;
    background: rgba(0,0,0,0.7);
    color: #fff;
    width: 100%;
    padding: 10px;
    font-size: 13px;
    left: 0px;
}
.edit-button {
    cursor: pointer;
    text-decoration: none;
    color: #23527c;
}
.del-button {
    color: red;
    cursor: pointer;
    text-decoration: none;
}
.return-check{
    margin-top: 40px;
    margin-bottom: 20px;
}
#product-info-panel .col{
    padding: 0 2px;
}
.tag-select .bootstrap-select{
    width: 65px !important;
}
.tag-select .bootstrap-select>.btn {
    padding: 1px;
}
.note-popover .popover-content, .panel-heading.note-toolbar {
    position: static !important;
    top: auto !important;
}
.add_product_btn{
    float: left;
}

/*Switch button*/
.toggle-switch.switch {
    position: relative;
    display: block;
    width: 40px;
    height: 15px;
    float: none;
    margin: 10px auto;
}

.toggle-switch.switch input {display:none;}

.toggle-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.toggle-switch .slider:before {
      position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: -5px;
    bottom: -5px;
    background-color: #717171;
    -webkit-transition: .4s;
    transition: .4s;
}

.toggle-switch input:checked + .slider {
  background-color: rgba(3, 169, 244, 0.5);
}

.toggle-switch input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.toggle-switch input:checked + .slider:before {
    background-color: #0099de;
}

.toggle-switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.toggle-switch .slider.round {
  border-radius: 34px;
}

.toggle-switch .slider.round:before {
  border-radius: 50%;
}

.two-val-sort01{
    width: 160px;
    position: absolute;
    left: 0;
    margin: 0 auto;
    z-index: 999;
    right: 200px;
}
.two-val-sort02{
    width: 160px;
    position: absolute;
    left: 200px;
    margin: 0 auto;
    z-index: 999;
    right: 0px;
}
#product-info-panel {
    clear: both;
}

.cat_image_preview_wrapper{
    height: 55px;
    width: 55px;
    border: 3px double #dedede;
}
.cat_image_preview_wrapper>img {
    max-width: 100%;
    height: auto;
}
.colorpicker-component .input-group-addon{
    padding: 5px 10px;
}
.prev_color {
    height: 25px;
    width: 25px;
    border: 2px double #dedede;
    margin: 0 auto;
}
.select_color_prev{
    height: 15px;
    width: 15px;
}
.color_select option{
    width: 100%;
}
.sm-text{
    font-size: 12px;
}
.mandatory{
    color: red;
}
#product-info-panel label{
    font-size: 13px;
}
.panel-heading p{
    margin-bottom: 0;
    margin-top: 5px;
}
.offer_image_preview_wrapper {
    height: 165px;
    width: 100%;
    border: 3px double #dedede;
}
.offer_image_preview_wrapper>img {
    max-width: 100%;
    height: auto;
}

.discount-page .nav-tabs>li.active>a,.discount-page .nav-tabs>li.active>a:focus,.discount-page  .nav-tabs>li.active>a:hover {
    color: #2d2d2d;
    cursor: default;
    background-color: transparent !important;
    border-bottom-color: transparent;
    border-bottom: 3px solid #16c2c2;
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
}
#product-info-panel .panel-body {
    padding: 5px 5px;
}
.product_create_group.col {
    width: 14.2%;
    float: left;
}
.product_create_group .form-control{
    padding: 0;
    height: 23px;
}
.w70px{
    width: 70px !important;
}
.w75px{
    width: 75px !important;
}
.w85px{
    width: 85px !important;
}
.p-color .dropdown-toggle {
    padding: 1px 2px;
}
.p-def .label-text{
    font-size: 14px;
}
.p-def .label-text::before{
    margin-right: 0px !important;
}
.add_product_btn, .dlt_product_btn {
    padding: 3px 10px;
}
.p-img-btn {
    padding: 2px 12px;
}
.p-tag label{
    clear: both;
}
.p-tag .bootstrap-select{
    clear: both;
    display: block;
    width: 100% !important;
}
.p-tag span.filter-option.pull-left {
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 20px;
}
.p_image_preview_wrapper {
    width: 70px;
    height: 54px;
    border: 3px double #cdcdcd;
}
.p_image_preview_wrapper>img {
    max-width: 100%;
    max-height: 48px;
    margin: 0 auto;
    display: block;
}
.add_product_img, .dlt_product_img {
    margin-top: 25px;
    width: 57px;
}
.note-editor.note-frame.panel{
    margin-bottom: 0;
}
.input-selct input[type="text"]{
    width: 150px;
    float: left;
    display: block;
    clear: both;
    margin-bottom: 20px;
}
.input-selct .input-group-btn{
    width: 100px;
    float: left;
}
#order_list td:not(:first-child){
    min-width: 150px;
}
#order_list td:last-child{
    min-width: 450px;
}
.three_layer_sort_01, .three_layer_sort_02, .three_layer_sort_03{
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    width: 180px;
}
.three_layer_sort_01 {
    left: 200px;
}
.three_layer_sort_02 {
    left: 390px;
}
.three_layer_sort_03 {
    left: 580px;
}
div#alert-error-msg i, #warning-error-msg i {
    color: #d9534f;
    font-size: 60px;
}
button#delete_button, #alert-ok {
    margin-top: 10px;
}