 
/* Boostrap Nav beark point */
@media (max-width: 979px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
    .navbar-collapse.in {
        overflow-y: auto !important;
    }
	.navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none;
    }
    .navbar-nav .open .dropdown-menu>li>a, .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #999;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover, 
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus {
        color: #fff;
        background-color: transparent;
        background-image:none;
    }
}
 
 
/* Medium Layout 1280px */
@media only screen and (min-width: 1100px) and (max-width: 1280px){
	
}

@media only screen and (min-width: 980px) and (max-width: 1099px){
	
}

@media only screen and (min-width: 800px) and (max-width: 979px){
	
}

/*Wide Tablet Layout 768px */
@media only screen and (min-width: 768px) and (max-width: 799px){
	
}

/* Wide Mobile/Tablet Layout 767px */
@media only screen and (min-width: 581px) and (max-width: 767px){
	
}

/* Wide Mobile Layout*/
@media only screen and (min-width: 481px) and (max-width: 580px){
	
	
}


/* Mobile Layout 480px */
@media only screen and (min-width: 361px) and (max-width: 480px){
	
	
}


/* Mobile Layout 320px */
@media only screen and (min-width: 320px) and (max-width: 360px){
	
	
}