body {
  font-family: 'Roboto', sans-serif;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #333;
}

a:hover {
  text-decoration: none;
}

.red-text{
    color: #eb5e58;
}
.no-margin{
  margin: 0 !important;
}

.hidden{
    display: none;
}

.btn{
    border-radius: 0;
}
.w10{width: 10%;}
.w15{width: 15%;}
.w30{width: 30%;}
.w60{width: 60%;}
.w70{width: 70%;}

textarea{
    resize: none;
}
.form-control:not(textarea) {
    height: 40px;
    border-radius: 2px;
    font-size: 14px;
}
.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #b6b7b9;
}
.form-control::-moz-placeholder { /* Firefox 19+ */
  color: #b6b7b9;
}
.form-control:-ms-input-placeholder { /* IE 10+ */
  color: #b6b7b9;
}
.form-control:-moz-placeholder { /* Firefox 18- */
  color: #b6b7b9;
}

body{
    font-size: 14px;
    overflow-x: hidden;
}

.m-t-10{margin-top: 10px;}
.m-t-15{margin-top: 15px;}
.m-t-20{margin-top: 20px;}
.m-t-30{margin-top: 30px !important;}

.m-b-10{margin-bottom: 10px;}
.m-b-15{margin-bottom: 15px;}
.m-b-20{margin-bottom: 20px;}
.m-b-30{margin-bottom: 30px;}

.margin-tb-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.common-md-title{
    font-size: 20px;
}
.btn{
    transition: none !important;
}

.popover{
    max-width: 650px;
}
.popover{
    font-size: 12px;
}

.block-list>li{
    display: block;
}
.simple-list>li {
    margin-left: 0;
    margin-bottom: 10px;
}
/*Custom check and radio*/
.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}

/*Mega Menu*/
.dropdown:hover > .dropdown-menu {
    display: block;
}
.navbar-light {
  color: #fff;
  background-color: #fff;
  border: 1px solid #DDD;
  padding: 5px 15px;
  height: 40px;
}

.navbar-light .navbar-nav > li > a {
  color: #fff;
}

.navbar-light .navbar-nav > .dropdown > a .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}

.navbar-light .navbar-brand {
  color: #fff;
}

.menu-large {
    position: static !important;
    height: 56px;
    line-height: 38px;
}

.megamenu {
  padding: 20px 20px;
  width: 100%;
  top: 53px;
}

.megamenu > div > li > ul {
  padding: 0;
  margin: 0;
}

.megamenu > div > li > ul > li {
  list-style: none;
  display: block;
  padding: 0; 
}

.megamenu .card {
    outline: none;
}

.megamenu .card:hover,
.megamenu .card:focus {
    outline: 1px solid #000;
}

.megamenu > div > li > ul > li > a {
  display: block;
  padding: 3px 0px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: normal;
  font-size: 14px;
}

.megamenu > div > li > ul > li > a:hover,
.megamenu > div > li > ul > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}

.megamenu.disabled > a,
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
  color: #999999;
}

.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
  cursor: not-allowed;
}

.megamenu.dropdown-header {
  color: #428bca;
  font-size: 18px;
}
#top-main-nav{
    min-height: 56px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 40px;
    background-color: #eb5e58 !important;
}
#main_nav{
    margin-bottom: 0;
}
#main_nav>li>a {
    color: #fff !important;
    font-size: 16px;
}
ul.dropdown-menu.megamenu>.row>li {
    margin: 0;
}
.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #fbfbfb;
    box-shadow: 0px 0px 1px 1px #ececec;
}
.dropdown-header {
    font-weight: 600;
}
#carousel1 .carousel-item{
    max-height: 500px;
}

/*Product list*/
.section-title {
    font-size: 22px;
    text-align: left;
    border-bottom: 1px solid #DDD;
    padding-bottom: 10px;
    margin-bottom: 15px;
    font-family: 'Ubuntu', sans-serif;
}
/* .section-title::after{
    background: #DDD;
    content: "";
    display: block;
    height: 1px;
    margin-left: 20%;
    position: absolute;
    top: 28px;
    width: 60%;
    z-index: 1;
} */
.item {
    display: block;
    height: auto;
    transition: all .3s ease 0;
    -moz-transition: all .3s ease 0;
    -webkit-transition: all .3s ease 0;
    -o-transition: all .3s ease 0;
    -ms-transition: all .3s ease 0;
    margin-bottom: 30px;
}
.product {
    display: block;
    height: 100%;
    transition: all .3s ease 0;
    -moz-transition: all .3s ease 0;
    -webkit-transition: all .3s ease 0;
    -o-transition: all .3s ease 0;
    -ms-transition: all .3s ease 0;
    border: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    text-align: center;
    box-shadow: 0px 0px 3px 1px #dedede;
}
.product:hover {
    box-shadow: 0px 0px 7px 2px #dedede;
}
.product_details{
    padding: 10px;
}
.product .image {
    border-bottom: 2px solid #e7e7e7;
    display: block;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
    max-height: 240px;
    transition: all .5s ease 0;
    -moz-transition: all .5s ease 0;
    -webkit-transition: all .5s ease 0;
    -ms-transition: all .5s ease 0;
    -o-transition: all .5s ease 0;
}
.product .image a {
    display: block;
    overflow: hidden;
}
.product-item-img{
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: .3s ease-in-out;
}
.product:hover .product-item-img{
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: .3s ease-in-out;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}
.promotion {
    line-height: 18px;
}
.promotion {
    position: absolute;
    z-index: 10;
    bottom: 20px;
    left: 0;
    height: 24px;
    width: auto;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
}
.discount {
    background: #eb5e58;
    border-radius: 0 4px 4px 0;
    color: #fff;
    display: inline-block;
    float: left;
    font-family: Oswald,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: lighter;
    height: 100%;
    padding: 3px 10px;
}
.description {
    margin: 0 5px;
    height: 45px;
}
.product_bottom {
    position: relative;
    display: block;
    width: 100%;
    clear: both;
}
.price {
    font-size: 19px;
    font-weight: 500;
    color: #2c3e50;
    float: none;
    font-family: 'Open Sans', sans-serif;
    display: block;
    margin-bottom: 10px;
}
span.old-price {
    text-decoration: line-through;
    font-size: 16px;
    color: #bd3e39;
}
.action-control {
    border: 0;
    height: auto;
    padding: 5px 0 10px;
    display: inline-block;
    float: right;
}
.action-control a {
    cursor: pointer;
}
.item h4 {
    margin: 0;
    min-height: 45px;
    max-height: 80px;
    overflow: hidden;
    display: block;
    line-height: 20px;
    margin: 10px 0 0;
    font-size: 14px;
}
.item h4 a {
    font-weight: 500;
    color: #2c3e50;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    text-transform: capitalize;
    line-height: 1.6;
}
.product-item-img{
    height: 240px;
    max-width: 100%;
    background-size: cover; 
}
span.add2cart {
    color: #fff;
}
#category-feature-img .cateory-feature-img {
    height: 250px;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.userMenu {
    margin-top: 0px;
    margin-bottom: 0;
}
.userMenu>li>a {
    font-size: 13px;
    color: #333333;
    font-weight: 500;
}
.userMenu>li>a>span {
    float: left;
}
.userMenu>li>a:hover{
    text-decoration: none;
}
.userMenu>li{
    margin: 0 15px 0 0px;
}
.top_search input[type="text"]{
    margin-right: 0 !important;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
    width: 88%;
    height: 31px;
}
.top_search button{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -5px;
}
.top_search {
    margin: 4px auto 0 auto;
    display: block;
}
.login-section {
    text-align: right;
    margin-bottom: 0;
    line-height: 2;
    margin-top: 6px;
}
.login-section>span{
    margin-right: 15px;
}
.login-section>span>a{
    font-size: 13px;
    color: #333333;
    font-weight: 500;
}
.phone-number i {
    font-size: 15px;
    transform: rotate(42deg);
    margin-right: -7px;
}
.product_bottom{
    position: relative;
    display: block;
    text-align: center;
}
.add_to_cart_btn {
    background-color: #eb5e58;
    color: #fff;
    overflow: hidden;
    border: 0;
    padding-left: 41px;
    padding-right: 15px;
    font-size: 12px;
    border-radius: 0;
    opacity: 1;
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto 10px auto;
    float: none;
    display: block;
    width: 119px;
    bottom: 0;
}
/* .product:hover .add_to_cart_btn {
    opacity: 1;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: .3s ease-in-out;
} */
.add_to_cart_btn:focus{
    box-shadow: none;
    border: 0;
}
.add_to_cart_btn>span {
    background: #e4e4e4;
    color: #000;
}
.add_to_cart_btn>span {
    height: 40px;
    width: 37px;
    position: absolute;
    left: -5px;
    top: -5px;
    line-height: 40px;
    transform: rotate(14deg);
}
.add_to_cart_btn i {
    transform: rotate(-14deg);
}
.rateYo {
    margin: 10px auto 10px auto;
}
.banner {
    position: relative;
    display: block;
    overflow: hidden;
    margin-bottom: 50px;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
}
.banner img {
    width: 100%;
}
.image-hover-scale img {
    -webkit-transition: transform 0.5s ease 0s;
    -o-transition: transform 0.5s ease 0s;
    -webkit-transition: -webkit-transform 0.5s ease 0s;
    transition: -webkit-transform 0.5s ease 0s;
    transition: transform 0.5s ease 0s;
    transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    image-rendering: optimizeQuality;
    vertical-align: middle;
    max-width: 100%;
}
.banner .banner-caption.horr {
    text-align: right;
}
.banner.style-7 .banner-caption {
    top: 0;
    right: 38%;
    bottom: 0;
    left: 5%;
}
.banner .banner-caption {
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
    position: absolute;
    z-index: 10;
    -webkit-transition: opacity 0.2s ease;
    -o-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
}
.vert-wrapper {
    display: table;
    height: 100%;
    width: 100%;
}
.vert {
    display: table-cell;
    vertical-align: middle;
}
.banner.style-7 .text-3 {
    display: block;
    z-index: -1;
    width: 3.2em;
    height: 3.2em;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 0.38em;
    line-height: 1em;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    border-radius: 50%;
    background-color: #41df7c;
    display: table;
    padding-top: 12px;
}
.banner.style-7 .text-1 {
    font-family: 'Raleway', sans-serif;
    font-size: 0.64em;
    line-height: 1em;
    font-weight: 700;
    letter-spacing: -2px;
    color: #fff;
    text-transform: uppercase;
    margin-top: -0.3em;
}
.banner.style-7 .text-2 {
    font-family: 'Raleway', sans-serif;
    font-size: 0.24em;
    line-height: 1em;
    font-weight: 500;
    letter-spacing: 6px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 0.5em;
}
.banner.style-7 .banner-btn {
    color: #fff;
    text-decoration: none;
}
.horr .banner-btn-wrap, .horr .banner-btn {
    float: right;
}
.horr .banner-btn {
    float: right;
}
.text-hoverslide span > span.text {
    -webkit-transition: color 0.2s ease 0s;
    -o-transition: color 0.2s ease 0s;
    transition: color 0.2s ease 0s;
    position: relative;
    z-index: 1;
}
.common-btn {
    padding: 0 0.8em;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 2.1em;
    font-weight: 400;
    height: auto;
    background-color: #f82e56;
    color: #fff;
}
.common-btn:hover{
    color: #fff;
}
#top-category .card-header-tabs{
    justify-content: center;
}
#top-category .card-header{
    background: transparent;
    border: 0;
}
#top-category .tabs, #top-category .card{
    border: 0;
}
#top-category .nav-item a.nav-link{
    border: 0;
    text-transform: uppercase;
    font-size: 16px;
    color: #000;
}
#top-category .nav-item a.nav-link.active {
    background-color: #eb5e58;
    color: #fff;
}
#top-category .card-header-tabs li{
    margin-right: 0;
    margin-left: 0;
}
/*Footer*/
.footer .footer-bottom {
    background: #202020;
    padding-top: 30px;
    padding-bottom: 30px;
}
.copyright-bar {
    background: #121212;
    padding: 20px 0px;
}
.footer .footer-bottom .module-heading {
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    color: #898989;
}
.footer .module-title {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
    text-align: left;
}
.toggle-footer {
    color: #666;
    text-align: left;
    font-size: 14px;
}
.toggle-footer i {
    background: #333;
    border-radius: 2px;
}
.toggle-footer .fa-stack {
    margin-right: 10px;
}
.footer .footer-bottom .module-body ul li a {
    font-size: 13px;
    line-height: 30px;
    color: #666666;
    position: relative;
    margin-left: 0px;
    display: block;
}
.footer .footer-bottom .module-body ul li {
    display: block;
    text-align: left;
    margin: 0;
}
.social .fb a {
    font-size: 16px;
    display: inline-block!important;
    text-align: center;
    padding: 0;
    background: #3C5B9B !important;
}
.social a:hover {
    color: #fff;
}
.social .fb a:before {
    content: "\f09a";
    font-family: FontAwesome;
}
.social .tw a {
    font-size: 16px;
    display: inline-block!important;
    text-align: center;
    padding: 0;
    background: #359BED !important;
}
.social .tw a:before {
    content: "\f099";
    font-family: FontAwesome;
}
.social .googleplus a {
    font-size: 16px;
    display: inline-block!important;
    text-align: center;
    padding: 0;
    background: #E33729!important;
}
.social .googleplus a:before {
    content: "\f0d5";
    font-family: FontAwesome;
}
.social ul li {
    border-bottom: none;
}
.social ul li {
    margin-right: 7px;
}
.social a {
    transition: background 400ms ease-in-out;
    -webkit-transition: background 400ms ease-in-out;
    -moz-transition: background 400ms ease-in-out;
    -o-transition: background 400ms ease-in-out;
}
.social a {
    color: #fff;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 3px;
}
.social ul {
    margin: 0;
    list-style: none;
}
.copyright-bar .payment-methods {
    text-align: right;
}
.copyright-bar .payment-methods ul li {
    display: inline-block;
    margin-right: 15px;
    margin-left: 0;
}
.cart .dropdown-menu {
    left: auto !important;
    right: 0 !important;
    width: 460px;
    padding: 0;
    background-color: #f1f1f1;
    margin-top: 0;
    transform: none !important;
    top: 30px !important;
}
.cart .btn-secondary {
    background-color: transparent;
    padding: 0;
    color: #333333;
    border: 0;
    font-size: 18px;
}
.cart .btn-secondary:focus, .cart .btn-secondary:active{
    outline: 0 !important;
    background-color: transparent !important;
    border: 0 !important;
    box-shadow: none !important;
}
.cart_count {
    position: absolute;
    top: -3px;
    right: -18px;
    font-size: 12px;
    background-color: #eb5e58;
    color: #fff;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    line-height: 26px;
}
.cart table {
    width: 100%;
    height: auto;
    margin-bottom: 0;
}
.cart table tr {
    border-bottom: solid 1px #ddd;
}
.cart table tr td {
    padding: 5px 0;
}

.miniCartProductThumb {

}
.miniCartTable {
    max-height: 300px;
    width: 100%;
    display: block;
    border-top: 5px solid #e7e7e7;
    background-color: #fff;
    overflow-y: auto; 
}
.cart img {
    width: 50px;
}
.cart h4 {
    padding-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
    float: left;
    margin-bottom: 0;
}
.miniCartDescription{
    float: left;
    margin-left: 15px;
    width: 220px;
}
.miniCartDescription .size {
    color: #888;
    font-size: 11px;
    float: left;
    clear: both;
}
.miniCartDescription .price {
    color: #eb5e58;
    font-size: 15px;
    font-weight: 500;
    float: left;
    clear: both;
    margin-bottom: 0;
    margin-top: -5px;
}
.miniCartTable table>thead>tr>th, .miniCartTable table>tbody>tr>td, .miniCartTable table>tfoot>tr>td{
    padding: 8px;
}
.miniCartTable table>thead>tr>th{
    font-size: 14px;
}
.cart h4>a{
    color: #333;
}
.miniCartSubtotal {
    text-align: right;
    color: #eb5e58;
    font-size: 15px;
}
.miniCartQuantity{
    text-align: center;
    font-size: 15px;
}
.cart_product_wrapper{
    float: left;
}
.cart-item-qty {
    width: 100%;
    padding: 0px;
    text-align: center;
    background: transparent;
    border: 0;
    font-size: 15px;
    font-weight: 400;
}
.cart_total{
    color: #eb5e58;
    font-weight: 500;
}
.miniCartTable tfoot>tr>td {
    font-size: 15px;
    font-weight: 500;
}
.checkout_cart_button {
    margin: 10px 0;
}
.mCSB_inside>.mCSB_container {
    margin-right: 0px; 
    padding-right: 10px;
}
.miniCartTable tbody{
    height: 250px;
}
.cart_total_section {
    margin-bottom: 0;
    margin-top: 10px;
    font-weight: 500;
}
.mCS-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar, .mCS-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar{
    background-color: #eb5e58;
}
.login-section a[role="button"], .login-section a[role="button"]:hover{
    color: #333;
    cursor: pointer;
}
.navbar-light{
    color: #2c3e50;
}
.modal_title_text{
    text-align: center;
    font-size: 23px;
}
.btn-twitter {
    color: #fff !important;
    background-color: #55acee;
    border-color: rgba(0,0,0,0.2);
}
.btn-social {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}
.btn-facebook {
    color: #fff !important;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2);
}
.btn-google, .btn-google:hover, .btn-google:focus, .btn-google:active, .btn-google.active, .open>.dropdown-toggle.btn-google {
    color: #fff !important;
    background-color: #c23321;
    border-color: rgba(0,0,0,0.2);
}
.btn-social > :first-child {
    font-size: 18px;
}
.btn-social>:first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    line-height: 34px;
    font-size: 16px;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,0.2);
}
.btn > i {
    margin-right: 5px;
    text-align: center;
    font-weight: 300;
}
#signInMOdal footer{
    display: none;
}
#signInMOdal header{
    border-bottom: 0;
}
.highlight-btn{
    color: #fff;
    background-color: #eb5e58;
    border-color: #de514b;
    font-size: 14px;
}
.highlight-btn:hover{
    color: #fff !important;
}
.c-content-list-adjusted li{
    display: inline-block;
    margin: 0 10px 0 0px;
}
#registrationMOdal header, #forgetMOdal header{
    border-bottom: 0;
}
#forgetMOdal .modal_title_text, #signInMOdal .modal_title_text, #registrationMOdal .modal_title_text{
    margin-bottom: 0;
}
ul.color_list, ul.size_list, ul.tag_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
ul.color_list>li, .size_list>li {
    height: 26px;
    width: 26px;
    margin: 6px;
    border: 1px solid #b5b5b5;
    line-height: 30px;
    padding: 2px; 
}
ul.color_list>li>a, .size_list>li>a{
    height: 20px;
    width: 20px;
    display: block;
    font-size: 13px;
    line-height: 24px;
    text-align: center;
}
ul.tag_list>li {
    border: 1px solid #b5b5b5;
    background: #dedede; 
    padding: 2px 5px;
    margin-bottom: 10px;
    margin-left: 0;
}
ul.tag_list>li>a:hover{
    text-decoration: none;
}
.left-sidebar-section {
    border: 1px solid #dedede;
    margin-bottom: 20px;
    padding: 0px;
}
.left-sidebar-section-title {
    border-bottom: 1px solid #dedede;
    background: #e9e9e9;
    padding: 10px;
}
.left-sidebar-section-title h4 {
    font-size: 15px;
    text-align: left;
    margin-bottom: 0;
}
.left-sidebar-section-body {
    padding: 10px;
}
.left-sidebar-section-body  .form-group{
    max-height: 200px;
    overflow: auto;
    margin-bottom: 0;
}
.left-sidebar-section-body  .form-check {
    text-align: left;
    margin-bottom: 5px;

}
.breadcrumb{
    margin-top: 30px;
}
.filter_icons{
    text-align: right;
}
.filter_icons>a {
    float: right;
    background-color: #c3c3c3;
    color: #fff !important;
    margin-left: 10px;
    padding: 5px 7px 3px 7px;

}
.filter_icons>a.active {
    background-color: #eb5e58;
}
/*Product List style*/
.list_cotent{

}
.list_cotent .product, .list_cotent .item {
    display: block;
    width: 100%;
    max-width: 100% !important;
    flex: 100%;
}

.list_cotent .product .image {
    border: 1px solid #dadada;
    display: inline-block;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 25%;
    max-height: 200px;
    float: left;
}
.list_cotent .product .image a {
    display: block;
    overflow: hidden;
}
.list_cotent .product-item-img {
    height: 200px;
    max-width: 200px;
    background-size: cover;
}
.list_cotent .product_details {
    padding: 10px;
    float: left;
    width: 75%;
}
.list_cotent .description {
    margin: 0 5px;
    height: 45px;
    width: auto;
}
.list_cotent .item h4 {
    margin: 0;
    min-height: 45px;
    max-height: 40px;
    overflow: hidden;
    display: block;
    line-height: 20px;
    margin: 10px 0 0;
    font-size: 14px;
    text-align: left;
}
.list_cotent .rateYo {
    margin: 10px auto 10px auto;
    float: right;
}
.list_cotent .product_bottom {
    position: relative;
    display: block;
    text-align: right;
    clear: both;
    width: 100%;
}
.list_cotent .add_to_cart_btn {
    float: right;
}

/*Quick View*/
.quick_view {
    color: #fff;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.82);
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    font-size: 20px;
    padding-top: 30%;
    opacity: 0;
    cursor: pointer;
    transition: all .5s ease 0;
    -moz-transition: all .5s ease 0;
    -webkit-transition: all .5s ease 0;
    -ms-transition: all .5s ease 0;
    -o-transition: all .5s ease 0;
}
.quick_view p{
    font-size: 16px;
    text-decoration: underline;
}
.image:hover .quick_view{
    opacity: 1;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: .3s ease-in-out;
}
/*Product Details*/
#productDetails .jq-ry-container{
    padding-left: 0;
}
.flexslider .slides>li {
    position: relative;
}
#carousel.flexslider .slides>li:before, #detailsCarousel.flexslider .slides>li:before {
    background: rgba(255, 255, 255, 0.65);
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}
#carousel.flexslider .flex-active-slide:before, #detailsCarousel.flexslider .flex-active-slide:before {
    background: none !important;
}
#carousel.flexslider, #detailsCarousel.flexslider {
    margin: 0 0 20px !important;
}
#carousel ul.slides>li, #detailsCarousel ul.slides>li {
    border: 1px solid #bbb;
    padding: 10px; 
}
.flexslider {
    margin: 0 0 10px;
}
#slider ul.flex-direction-nav,#detailsSlider ul.flex-direction-nav {
    display: none;
}
.flex-lg-view{
    border: 1px solid #bfbfbf;
    margin-bottom: 10px;
}
#slider{
    border: 0;
    margin: 0;
}
.zoomWindowContainer>div {
    border: 2px solid #bfbfbf !important;
}
#carousel .flex-direction-nav a, #detailsCarousel .flex-direction-nav a {
    height: 55px;
    top: 37%;
}
/* #carousel .flex-viewport{
    border: 1px solid #bfbfbf;
} */
#slider .flex-viewport {
    max-height: 450px;
}
#detailsSlider .flex-viewport {
    max-height: 450px;
}
#slider .slides img{
    max-height: 450px;
}
#detailsSlider .slides img {
    max-height: 450px;
}
.product-details-review{
    margin-left: 10px;
    margin-top: 10px;
}
.product-company-info>h4 {
    text-align: left;
    font-weight: 300;
    font-size: 22px;
    margin-top: 10px;
}
.product-details-price {
    text-align: left;
    margin: 5px auto 15px auto;
}
.product-details-price>span {
    font-size: 20px;
    font-weight: 400;
    margin-right: 10px;
}
.btn-number {
    height: 26px;
    line-height: 0;
    background-color: #eb5e58;
    color: #fff;
    padding: 3px 10px;
    font-size: 14px;
}
.btn-number>i{
    margin-right: 0;
}
input.form-control.input-number {
    height: 26px;
    text-align: center;
}
.product-details-cart-btn {
    margin-top: 25px;
    text-align: center;
    float: left;
    margin-bottom: 10px;
}
.product-details-cart-btn {
    margin-top: 25px;
    text-align: center;
}
.product-details-cart-btn .add_to_cart_btn {
    padding-left: 51px;
    padding-right: 15px;
    font-size: 16px;
    width: 255px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.product-details-cart-btn .add_to_cart_btn:hover{
    color: #fff;
    text-decoration: none;
}
.product-details-cart-btn .add_to_cart_btn>span {
    height: 55px;
    width: 55px;
    position: absolute;
    left: -5px;
    top: -9px;
    line-height: 55px;
    transform: rotate(14deg);
}
#related-product .slides>li {
    border: 1px solid #bfbfbf;
    padding: 5px; 
}
#related-product .slides>li>a>h4 {
    font-weight: 500;
    font-size: 14px;
    color: #333;
    height: 30px;
    overflow: hidden;
    margin: 10px 0;
    text-align: center;
}
.product-company-info{
    text-align: left;
}
.company-logo{
    height: 50px;
    width: 50px;
}
#related-product ul>li>a>img {
    max-height: 200px;
}
div#related-product {
    margin-bottom: 70px;
}
#related-product .flex-prev{
    opacity: 1;
}
#related-product .flex-direction-nav{
    display: none;
}
.social-share {
    display: block;
    clear: both;
    text-align: left;
    margin: 15px 0;
}
.social-share ul>li{
    margin-left: 0;
    margin-right: 5px;
}
.social-share .fa {
    padding: 0;
    font-size: 16px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 0px 2px;
    border-radius: 50%;
    height: 40px;
    line-height: 40px;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-google, .fa-youtube-play {
    background: #dd4b39;
    color: white;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
}
.product-details>a{
    text-decoration: underline;
    line-height: 1.6;
}
.color_list>li.active, .size_list>li.active {
    border: 1px solid #eb5e58 !important;
    background: #eb5e58;
    color: #fff;
}
.color_list>li.active>a, .size_list>li.active>a{
    color: #fff !important;
}
.jq-ry-container>.jq-ry-group-wrapper>.jq-ry-group{
    z-index: initial;
}
.jq-ry-container>.jq-ry-group-wrapper>.jq-ry-group.jq-ry-rated-group{
    z-index: initial;
}

/* cart page */
.CartTable {
    margin: 0px 0 0 0;
}
.CartTable table{
    margin-bottom: 0;
}
.CartTable .cart_product_wrapper>a>img{
    width: 70px;
    max-width: 100%;
}
.CartTable .CartDescription>h4{
    font-size: 16px;
}
.CartTable .CartDescription {
    float: left;
    padding-left: 15px;
}
.CartTable .CartREmove{
    text-align: center;
}
.CartTable .CartREmove>a {
    font-size: 22px;
    text-align: center;
    color: #eb5e58;
}
.CartTable .CartSubtotal span{
    font-weight: 600;
    font-size: 15px;
}
.CartTable .CartQuantity{
    text-align: center;
}
.CartTable .cart-item-qty {
    width: 100px;
    background: #d3d3d347;
    border: 1px solid #bfbfbf;
}
.CartTable .table-bordered td{
    border: 0;
    vertical-align: middle;
}
.CartTable .table-bordered th {
    border-right: 0;
    border-left: 0;
}
.CartTable .CartProduct{
    border-bottom: 1px solid #bfbfbf;
}
.CartTable .CartSubtotal{
    text-align: center;
}
.CartTable thead{
    background-color: #EBEDEF;
}
.cartFooter.w100.cartFooter_xs {
    background: #ebedef;
    margin-bottom: 0px;
    border: 1px solid #bfbfbf;
}
table#cart-summary {
    border: 1px solid #bfbfbf;
    margin-top: 0px;
}
table#cart-summary thead{
    background-color: #EBEDEF;
}
table#cart-summary thead>tr>th{
    font-size: 14px;
}
th.checkout-price {
    text-align: right;
}
#checkout_price_discount #coupon_code{
    float: right;
    height: 30px;
    width: 100px;
    padding: 3px 5px;
}
#checkout_price_discount #coupon_apply {
    float: right;
    font-size: 12px;
    padding: 5px 8px;
}
#initial-tax, #total-price{
    font-weight: 600;
    font-size: 15px;
    text-align: right;
}
.zoomContainer{
    z-index: 9999;
}
.subcate-item {
    width: 100%;
    position: relative;
    text-align: center;
    border: 1px solid #DDD;
    box-shadow: 0px 0px 3px 1px #dedede;
    margin-bottom: 30px;
}
.subcate-item:hover {
    box-shadow: 0px 0px 7px 2px #dedede;
}
.subcate-item>a{
    width: 100%;
    position: relative;
    display: block;
}
.subcate-item>a>img{
     padding: 15px;
}
.subcate-item-title {
    position: absolute;
    background: rgba(0,0,0,0.7);
    width: 100%;
    color: #fff;
    bottom: 0;
    text-align: center;
    padding-top: 5px;
}
.subcate-item-title>h4{
    color: #fff;
    font-size: 15px;
}
.title-big {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
    position: relative;
}
.section-title-style2, .section-title.style2 {
    position: relative;
}
.section-title-style2 span, .section-title.style2 span {
    background: #FFF;
    display: inline-block;
    padding: 10px;
    position: relative;
    width: auto;
    z-index: 2;
}
.style2 .section-title:after, .section-title-style2:after, .section-title.style2:after, .section-title-style2:after {
    background: #DDD;
    content: "";
    display: block;
    height: 1px;
    margin-left: 20%;
    position: absolute;
    top: 24px;
    width: 60%;
    z-index: 1;
}
p.lead {
    font-size: 18px;
    line-height: 1.4;
}
.paragraph {
    line-height: 22px;
    margin-bottom: 5px;
}
@media (min-width: 992px){
    .modal-lg {
        max-width: 900px;
    }
}

/*Checkout form*/
#checkOut{
    margin: 40px auto;
    min-height: 520px;
}
/*form styles*/
#msform {
    text-align: center;
    position: relative;
    margin-top: 30px;
    /* min-height: 900px;
    height: auto; */
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 100%;
    margin: 0;

    /*stacking fieldsets above each other*/
    position: relative;
    margin-bottom: 10px;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}

/*inputs*/
#msform input, #msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 10px;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 13px;
}

#msform input:focus, #msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #eb5e58;
    outline-width: 0;
    transition: All 0.5s ease-in;
    -webkit-transition: All 0.5s ease-in;
    -moz-transition: All 0.5s ease-in;
    -o-transition: All 0.5s ease-in;
}

/*buttons*/
#msform .action-button {
    width: 100px;
    background: #eb5e58;
    color: white;
    border: 0 none;
    border-radius: 0;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
    font-size: 15px
}

#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #eb5e58;
}

#msform .action-button-previous {
    width: 100px;
    background: #eb5e58;
    color: white;
    border: 0 none;
    border-radius: 0;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
    font-size: 15px;
}

#msform .action-button-previous:hover, #msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #eb5e58;
}

/*headings*/
.fs-title {
    font-size: 15px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 15px;
    letter-spacing: 2px;
    font-weight: bold;
    border-bottom: 1px solid #bfbfbf;
    text-align: left;
    padding-bottom: 7px;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    color: #2c3e50;
    text-transform: uppercase;
    font-size: 11px;
    width: 30.33%;
    float: left;
    position: relative;
    letter-spacing: 1px;
    font-weight: 600;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 24px;
    height: 24px;
    line-height: 26px;
    display: block;
    font-size: 12px;
    color: #333;
    background: #bfbfbf;
    border-radius: 0px;
    margin: 0 auto 10px auto;
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #bfbfbf;
    position: absolute;
    left: -53%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
    background: #eb5e58;
    color: white;
}
#billing-address{
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.checkout-cart-footer {
    padding: 10px;
}
.checkout-CartTable .CartDescription {
    float: right;
    padding-left: 0;
    text-align: left;
    width: 80%;
}
.checkout-CartTable .CartDescription>h4 {
    font-size: 15px;
}
.checkout-CartTable .price {
    font-size: 15px;
}
.checkout-cart-footer h4 {
    font-size: 15px;
    margin: 7px 0;
}
.customerRateYo{
    margin-bottom: 20px;
}
.avr-rating {
    font-weight: 400;
    margin: 0;
    font-size: 16px;
}
.rating-count {
    width: 55px;
    line-height: 1;
}
.rating-count div {
    height: 9px;
    margin: 0;
}
.rating-progress-bar {
    width: 210px;
}
.rating-list {
    padding: 0;
    margin-top: 30px;
}
.rating-list>li {
    list-style: none;
    padding-bottom: 10px;
    border-bottom: 1px solid #d4d4d4;
    margin-bottom: 30px;
    margin-left: 0;
}
.pos_rel {
    position: relative;
    margin-right: 10px;
}
.rating-list>li h4 {
    margin-top: 7px;
    font-size: 16px;
    font-weight: 500;
}
.rateYo_comment {
    padding: 0;
}
.reviewer_name {
    color: #337ab7 !important;
    text-decoration: underline !important;
}
.progress-bar-success {
    background-color: #5cb85c;
}
.progress{
    height: 10px;
}
.float-right.progress-percent {
    margin-top: -6px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.rating-list>li>p {
    margin-bottom: 5px;
}
.product-list-rating {
    width: 110px;
    clear: both;
    margin: 0 auto;
    display: block;
}
.product-list-rating .rateYo{
    float: left;
}
.product-list-rating .rate-arrow {
    float: left;
    margin-top: 8px;
    margin-left: 6px;
    border: 1px solid #eb5e58;
    padding: 3px;
    line-height: 0;
}
.popover-quote{
    font-size: 13px;
}
.poptitle{
    font-size: 14px;
}
.pListViewAll{
    font-size: 13px;
    text-decoration: underline;
    color: #007bff !important;
}
.address-list>li{
    font-weight: 400;
}
.address-list>li>i {
    margin-right: 10px;
    color: #eb5e58;
    font-size: 18px;
    font-weight: 500;
}
#contact-map{
    width: 100%;
    height: 450px;
    margin-top: 30px;
}
.h1error {
    font-size: 80px;
    font-weight: 700;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
.err404 {
    font-weight: lighter;
}
.faq-content .card-header>a{
    text-align: left;
}
.mega-cate-{
    max-width: 100%;
    max-height: 200px;
}
.megamenu .dropdown-item {
    border-right: 1px solid #e7e7e7;
}

#about-wrapper{
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 100%;
    position: relative;
}
.white-bg{
    background-color: rgba(255, 255, 255, 0.7);
    height: 100%;
    width: 100%;
    position: absolute;
}
.highlight-text{
    font-weight: 600;
    font-size: 30px;
    color: #eb5e58;
}
#about-wrapper .text-wrapper {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
}
.about-logo {
    height: 180px;
    width: 180px;
    margin: 0 auto;
}
.member-item .link>li>a {
    border-radius: 50%;
}
#team-member-wrapper {
    background-color: #f1f1f1;
    padding: 40px 0;
}
#partner-wrapper{
    padding: 40px 0;
}
.member-item{
    border: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    text-align: center;
    box-shadow: 0px 0px 3px 1px #dedede;
}
.brand-image {
    background-color: #f7f7f7;
    margin-bottom: 30px;
    text-align: center;
}
.brand-image>img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: filter 0.3s, opacity 0.3s;
    -webkit-transition: filter 0.3s, -webkit-filter 0.3s, opacity 0.3s;
    opacity: 0.5;
}
.brand-image>img:hover {
    -webkit-filter: none;
    filter: none;
    opacity: 1;
}
.list_cotent .product-list-rating {
    float: right;
}
#product_details_bottom .tab-content{
    padding: 20px;
}
#product_details_bottom .nav-tabs {
    padding: 20px 20px 0 20px;
}
#detailsSlider {
    margin-bottom: 0;
}
.zoomWindowContainer>div{
    height: 450px !important;
}
.modal-open .zoomWindowContainer>div{
    height: 400px !important;
}
#accordion .btn-link {
    padding: 0;
}
#accordion>.card{
    margin-bottom: 10px;
}
#accordion .btn-link {
    padding: 0;
    color: #333;
}
#accordion .btn-link:hover, #accordion .btn-link:active, #accordion .btn-link:focus{
    text-decoration: none;
}
@media (max-width: 768px) {
    .megamenu {
        margin-left: 0;
        margin-right: 0;
    }
    .megamenu > li {
        margin-bottom: 30px;
    }
    .megamenu > li:last-child {
        margin-bottom: 0;
    }
    .megamenu.dropdown-header {
        padding: 3px 15px !important;
    }
    .navbar-nav .open .dropdown-menu .dropdown-header {
        color: #fff;
    }
    #progressbar li{
        width: 100% !important;
    }
    #progressbar li:after{
        display: none;
    }
    .top_search {
        margin: 1px auto 0 auto;
        display: block;
    }
    .top_search input[type="text"] {
        width: 75%;
        height: 31px;
        float: left;
    }
    .top_search button {
        float: right;
        margin: 0 !important;
    }
    #about-wrapper .text-wrapper {
        display: block;
        height: auto;
    }
    #about-wrapper {
        height: auto;
        display: block;
        clear: both;
    }
    .white-bg{
        position: relative;
    }
    #team-member-wrapper .col {
        width: 100%;
        flex-basis: inherit;
        margin-bottom: 20px;
    }
    #Topnav .fixed-top{
        position: relative;
    }
    .cart .dropdown-menu {
        left: 0 !important;
        right: 0 !important;
        width: 360px;
        margin: 0 auto;
        float: none;
        top: 0 !important;
        transform: translate3d(-269px, 27px, 0px) !important;
    }
    .miniCartDescription {
        width: 140px;
        margin-left: 0;
    }
    .top_search input[type="text"]{
        width: 90%;
    }
    section#top-nav>.fixed-top {
        position: relative;
        height: auto;
    }
    #nav-info{
        width: 100%;
        text-align: center;
        float: none !important;
    }
}
@media only screen and (max-width: 480px){
    .top_search input[type="text"] {
        width: 75% !important;
    }
}
@media only screen and (max-width: 359px){
    .top_search input[type="text"] {
        width: 72% !important;
    }
    .cart .dropdown-menu {
        left: 0 !important;
        right: 0 !important;
        width: 320px;
        margin: 0 auto;
        float: none;
        top: 0 !important;
        transform: translate3d(-223px, 27px, 0px) !important;
    }
    .miniCartDescription {
        width: 140px;
        margin-left: 0;
    }
    .top_search input[type="text"]{
        width: 320px;
    }
}